<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nombre">Subir Imagen</h3>

      </div>
          <table  style="text-align:center;" >
          <tr>
            <td>
              <div class="container">
                
              </div>
              <div class="wrappers" >
                <div class="wrapper fadeInDown">
                    <div id="formContent">
                      <div id="div_imagen">
                        <img src="{{foto_cargada}}" #imagen id="imagen" alt="User Icon"  width="300" height="300" />
                      </div>
                      
                    </div>
                </div>
              </div> 
                    
            </td>
           
            <!--</tr>  
            <tr>-->
                <td>
                    <h2>Nombre de la imagen</h2>
                    <input type="text" id="n_img" #n_img class="fadeIn second"  placeholder="Nombre de la imagen">
                    <h2>Descripcion </h2>
                    <input type="text" id="d_img" #d_img class="fadeIn second"  placeholder="Descripcion de la imagen">
                    
                </td>
            </tr>
            <tr>
              <td>
                <input type="button" value="Cargar Imagen" (click) = "agregar_imagen()"> 
              </td>
              <td>
                <input type="submit" class="fadeIn fourth" value="Subir Foto" (click)="subir_foto(n_img.value, d_img.value)">
              </td>
            </tr>  
          </table>    
          
    </div>
  </div>

  