
<table class="table">
    <tr>
        <td>
            <h3 style="color: lightyellow;">Perfil Administrador</h3>
            <div >
                <div class="wrappe">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <img  src="https://cdn.generadormemes.com/media/created/zc84oiuz8xv09ye1ya2y3mfzimmkkvvebywvkt9i9psujvinrzmcqpxk3c4s470.jpg" class="fadeIn second" >
                        </div>
                    
                    </div>
                </div>
                <div class="wrappe" >
                    <div class="wrapper fadeInDown">
                        <div id="formContent" >
                                <h1>Usuario</h1>  
                                    <h2>Usuario </h2>
                                    <input type="text" id="login" class="fadeIn second" disabled name="login"  placeholder="Admin">
                                    <h2>Nombre </h2>
                                    <input type="text" id="password" class="fadeIn third" disabled name="login" placeholder="Admin">
                                    <br><br>
                            
                        </div>
                    </div>
                </div>
                <div class="wrappe">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <form>
                                <h1>Acciones</h1>
                                <input type="submit" (click)="usuarios()" class="fadeIn fourth" value="Gestion Usuarios">
                                <input type="submit" (click)="oficio()" class="fadeIn fourth" value="Crear Clasificacion">
                                <input type="submit" (click)= "servicios()" class="fadeIn fourth" value="Ver Servicios ">
                            </form>
                       </div>
                    </div>
                </div>
            </div>
                
        </td>
    </tr>
</table>