<div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="nombre">Editar perfil</h3>
                
        </div>
            <table  style="text-align:center;">
            <tr>
              <td>
                <div class="container">
                  
                </div>
                <div class="wrappers" >
                  <div class="wrapper fadeInDown">
                      <div id="formContent">
                        <div id="div_imagen">
                          <img src="{{foto_perfil}}" #imagen id="imagen" alt="User Icon"  width="300" height="300" />
                 
                        </div>
                        
                      </div>
                  </div>
                </div> 
                      
              </td>
             <td>
                    <input type="text" id="usr" #usr class="fadeIn second" value="{{sesion.codigo_usuario}}">
                    <input type="text" id="nombre" #nombre class="fadeIn second" value="{{sesion.nombre}}">
                    <input type="password" id="psw" #psw class="fadeIn second" placeholder="Confirm Passowrd">
                
                </td>
            </tr>
            <tr>
              <td>
                <input type="text" id="nombref" #nombref class="fadeIn second" placeholder="Nombre de imagen" />
                 
                <input type="button" value="Agregar Imagen" (click) = "agregar_imagen()"> 
              </td>
              <td>
                <input type="submit" class="fadeIn fourth" value="Modificar" (click) ="modificar(usr.value, nombre.value, psw.value,nombref.value)">
              </td>
            </tr>  
            </table>              
      </div>
    </div>
  